[submodule "third_party/robocasa"]
	path = third_party/robocasa
	url = https://github.com/robocasa/robocasa.git
[submodule "third_party/robosuite"]
	path = third_party/robosuite
	url = https://github.com/ARISE-Initiative/robosuite.git
[submodule "third_party/RoboTwin"]
	path = third_party/RoboTwin
	url = https://github.com/RoboTwin-Platform/RoboTwin.git
